#drawer {
  position: relative;
  z-index: 60;
}

.board-drawer {
  color: black;
  position: fixed;
  background: $color-secondary-light;
  border-radius: 0 3px 3px 0;
  top: 44px;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 12px 24px -6px rgba(9, 45, 66, 0.25),
    0 0 0 1px rgba(9, 45, 66, 0.08);

  &__header {
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
    background: $color-secondary;
    padding: 8px 12px;
    height: 42px;
    align-items: center;

    &.board-drawer--pinned {
      display: flex;
    }
  }

  &__content {
    margin: 8px;

    &__search,
    &__boards {
      margin-bottom: 10px;
    }
  }
  &--pinned {
    top: 0px;
    bottom: 0px;
  }
}
