.card {
  @extend %card;
  cursor: pointer;
  position: relative;
  transition: ease 0.1s;

  display: flex;
  align-items: center;

  &--dragging {
    padding: 14px;
    box-shadow: none;
    cursor: auto;
  }

  &__content {
    flex: 1;
    white-space: normal;
    overflow: hidden;

    .editable {
      width: 90%;
    }
  }

  &__close {
    opacity: 0;
    padding: 5px;
    color: $color-secondary-dark;
    transition: ease 0.2s;
    &:hover {
      color: darken($color-secondary-dark, 20%);
    }
  }

  &:hover {
    background: lighten($color-secondary, 5%);
    .card__close {
      opacity: 1;
    }
  }
}
