.card {
  @extend %card;
  cursor: pointer;
  position: relative;
  transition: ease 0.1s;

  align-items: center;

  &--dragging {
    padding: 14px;
    box-shadow: none;
    cursor: auto;
  }

  &__content {
    color: $color-text-on-s;
    padding-right: 36px;
    flex: 1;
    overflow: hidden;
    p {
      max-width: 100%;
      word-wrap: break-word;
    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 0;
    padding: 5px;
    color: $color-secondary-dark;
    transition: ease 0.2s;
    &:hover {
      color: darken($color-secondary-dark, 20%);
    }
  }

  &:hover {
    background: lighten($color-secondary, 5%);
    .card__close {
      opacity: 1;
    }
  }
}
