.editor {
  pointer-events: all;
  transition: ease 0.2s;
  opacity: 0.5;
  max-height: 38px;

  &__textarea,
  &__input,
  &__button {
    margin-bottom: 8px;
    position: relative;
  }

  &__textarea {
    @extend %card;
    position: relative;
  }

  &__input {
  }

  &__count {
    position: absolute;
    right: 5px;
    bottom: 3px;
    color: $color-primary;
    opacity: 0.6;

    &--error {
      color: $color-error;
    }
  }

  &__button {
    button {
      padding: 10px 12px !important;
      box-shadow: 0 1px 0 #003863 !important;
    }
  }

  &__textarea textarea {
    border: none !important;
    padding: 0px !important;

    &:focus {
      border: none !important;
    }
  }
}
