.editable {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 3px;
  background: none;
  border: 2px solid transparent;

  &:hover {
    background: rgba($color: #000000, $alpha: 0.1);
  }

  &--editing {
    color: black !important;
    cursor: auto;
    background: $color-secondary-light;
    border: 2px solid $color-secondary-light;
    &:hover {
      background: $color-secondary-light;
    }
  }
}
