.link-button {
  cursor: pointer;
  padding: 8px 12px;
  overflow: hidden;
  border-radius: 3px;
  text-decoration: underline;
  &:hover {
    background: #dfe4e7;
    color: $color-primary-light;
  }
}
