$color-primary: #263238;
$color-primary-light: #4f5b62;
$color-primary-dark: #000a12;
$color-secondary: #eceff1;
$color-secondary-light: #ffffff;
$color-secondary-dark: #babdbe;
$color-text-on-p: #ffffff;
$color-text-on-s: #000000;
$color-text-on-s-soft: #444;

$font-primary: sans-serif;

body {
  font-family: $font-primary;
}

.app {
  width: 100vw;
  height: 100vh;
}

.board {
  padding: 20px;
  max-width: 1000px;
  &__header {
    padding: 14px;
  }
  &__content {
    display: flex;
    align-items: flex-start;
  }
}

.list {
  min-width: 250px;
  border: 1px solid $color-secondary;
  margin-right: 20px;

  &__header {
    font-weight: bold;
    padding: 14px;
  }

  &__add {
    cursor: pointer;
    color: $color-text-on-s-soft;
    &__button {
      box-sizing: border-box;
      display: inline-block;
      padding: 14px;
      width: 100%;
      &:hover {
        background: $color-secondary;
      }
    }
  }
}

.card {
  cursor: pointer;
  padding: 14px;
  &:hover {
    background: $color-secondary;
  }
  .editable {
    border: none;
    outline: none;
    padding: 10px;
    background: none;
    border-bottom: 3px solid transparent;

    &--editing {
      background: $color-secondary-light;
      border-bottom: 3px solid $color-primary;
    }
  }
}
