$color-primary: #263238;
$color-primary-light: #4f5b62;
$color-primary-dark: #000a12;
$color-secondary: #eceff1;
$color-secondary-light: #ffffff;
$color-secondary-dark: #babdbe;
$color-text-on-p: #ffffff;
$color-text-on-s: #000000;
$color-text-on-s-soft: #444;

$font-primary: sans-serif;

body {
  font-family: $font-primary;
}

.app {
  width: 100vw;
  height: 100vh;
}

.board {
  padding: 20px;
  border-radius: 10px;

  &__header {
    padding: 14px;
  }
  &__content {
    display: flex;
    align-items: flex-start;

    &__add {
      min-width: 250px;
      border: 2px dotted $color-secondary-dark;
      border-radius: 6px;
      padding: 14px;
      cursor: pointer;
    }
  }
}

.list {
  min-width: 250px;
  border: 2px solid $color-secondary;
  border-radius: 6px;
  margin-right: 20px;

  &__header {
    font-weight: bold;
    padding: 14px;
  }

  &__add {
    cursor: pointer;
    color: $color-text-on-s-soft;
    &__button {
      box-sizing: border-box;
      display: inline-block;
      padding: 14px;
      width: 100%;
      &:hover {
        background: $color-secondary;
      }
    }
  }
}

.card {
  cursor: pointer;
  position: relative;
  padding: 6px;
  margin: 12px;
  border-radius: 6px;
  background: $color-secondary;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: ease 0.2s;

  &:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

.editable {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  background: none;
  border: 1px solid transparent;

  &--editing {
    cursor: auto;
    background: $color-secondary-light;
    border: 1px solid $color-secondary;
  }
}
