$color-primary: #038387;
$color-primary-light: darken(#4fb3b7, 10%);
$color-primary-dark: lighten(#00565a, 5%);
$color-secondary: #eceff1;
$color-secondary-light: #ffffff;
$color-secondary-dark: #babdbe;
$color-text-on-p: #ffffff;
$color-text-on-s: #000000;
$color-text-on-s-soft: #666;

$font-primary: sans-serif;

$color-error: #ff3434;
