.card, .list__content__composer__input, .editor__input {
  background: #ffffff;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.board__content__add .add-list__editor {
  pointer-events: all;
  min-width: 280px;
  max-width: 280px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  background: #eceff1;
}

body {
  font-family: sans-serif;
  color: white;
  line-height: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
}

#clickCatcher {
  position: fixed;
  width: 100%;
  height: 100%;
}

.click-catcher {
  width: 100%;
  height: 100%;
}

.composer-box {
  pointer-events: all;
  background: #eceff1;
  border-radius: 4px;
  width: 100%;
  padding: 6px;
  opacity: 0.5;
  overflow: hidden;
  max-height: 38px;
  transition: ease 0.2s;
}
.composer-box--transparent {
  background: none;
}
.composer-box__input {
  margin-bottom: 6px;
  position: relative;
}
.composer-box__input__count {
  text-align: right;
  opacity: 0.3;
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #038387;
  font-style: italic;
  z-index: 10;
}
.composer-box__input__count--error {
  color: #ff3434;
}
.composer-box__ops {
  display: flex;
  align-items: center;
}
.composer-box__ops__close {
  color: #babdbe;
  margin-left: 2px;
  cursor: pointer;
  padding: 6px;
}
.composer-box__ops__close:hover {
  color: #a0a4a5;
}

.editor {
  pointer-events: all;
}
.editor__input, .editor__button {
  margin-bottom: 8px;
}
.editor__input {
  position: relative;
}
.editor__input__count {
  position: absolute;
  right: 5px;
  bottom: 3px;
  color: #038387;
  opacity: 0.6;
}
.editor__input__count--error {
  color: #ff3434;
}
.editor__button button {
  padding: 10px 12px !important;
  box-shadow: 0 1px 0 #003863 !important;
}
.editor__input textarea, .editor__input input {
  border: none !important;
  padding: 0px !important;
}
.editor__input textarea:focus, .editor__input input:focus {
  border: none !important;
}

.app {
  height: 100vh;
  background: #038387;
}

.board {
  pointer-events: none;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}
.board__header {
  padding: 14px;
  font-size: 2rem;
  font-weight: bold;
}
.board__content {
  display: flex;
  align-items: flex-start;
}
.board__content__add {
  min-width: 280px;
  max-width: 280px;
}
.board__content__add .add-list {
  pointer-events: all;
}
.board__content__add .add-list__button {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  outline: none;
}
.board__content__add .add-list__button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.board__content__add .add-list__editor {
  padding: 8px;
  padding-bottom: 0px;
}

.list {
  pointer-events: all;
  min-width: 280px;
  max-width: 280px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  background: #eceff1;
}
.list:hover .list__header__close {
  opacity: 1;
}
.list__dragging-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  display: none;
  background: #f2f4f5;
  border-radius: 4px;
  border: 2px solid #038387;
  z-index: 1000;
}
.list__dragging-over--active {
  display: block;
}
.list__header {
  display: flex;
  align-items: center;
  padding: 10px 36px 8px 8px;
}
.list__header input {
  font-size: 1rem;
  font-weight: bold;
}
.list__header__close {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  right: 12px;
  padding: 5px;
  color: #babdbe;
  transition: ease 0.2s;
}
.list__header__close:hover {
  color: #858b8d;
}
.list__content {
  padding: 0 4px;
  margin: 0 4px;
}
.list__content__button {
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  color: #a0a4a5;
  padding: 10px;
  width: 100%;
  background: #eceff1;
}
.list__content__button:hover {
  color: #038387;
  background: #f2f4f5;
}
.list__content__button:hover span {
  text-decoration: underline;
}
.list__content__composer {
  margin-bottom: 8px;
  padding: 0px;
}
.list__content__composer__input {
  padding: 0px;
  margin-bottom: 8px;
}

.card {
  cursor: pointer;
  position: relative;
  transition: ease 0.1s;
  align-items: center;
}
.card--dragging {
  padding: 14px;
  box-shadow: none;
  cursor: auto;
}
.card__content {
  color: #000000;
  padding-right: 36px;
  flex: 1;
  overflow: hidden;
}
.card__content p {
  max-width: 100%;
  word-wrap: break-word;
}
.card__close {
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0;
  padding: 5px;
  color: #babdbe;
  transition: ease 0.2s;
}
.card__close:hover {
  color: #858b8d;
}
.card:hover {
  background: #fbfbfc;
}
.card:hover .card__close {
  opacity: 1;
}

.card-editor {
  width: 280px;
  position: absolute;
}

.editable {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  background: none;
  border: 2px solid transparent;
  width: 90%;
}
.editable--editing {
  cursor: auto;
  background: #ffffff;
  border: 2px solid #4fb3b7;
}

/*# sourceMappingURL=index.css.map */
