.card, .list__content__composer__input, .editor__textarea {
  background: #ffffff;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
}

.board__content__add .add-list__editor {
  pointer-events: all;
  min-width: 280px;
  max-width: 280px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  background: #eceff1;
}

body {
  font-family: sans-serif;
  color: white;
  line-height: 1;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.overlay {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.click-catcher {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.composer-box {
  pointer-events: all;
  background: #eceff1;
  border-radius: 4px;
  width: 100%;
  padding: 6px;
  opacity: 0.5;
  overflow: hidden;
  max-height: 38px;
  transition: ease 0.2s;
}
.composer-box--transparent {
  background: none;
}
.composer-box__input {
  margin-bottom: 6px;
  position: relative;
}
.composer-box__input__count {
  text-align: right;
  opacity: 0.3;
  position: absolute;
  bottom: 3px;
  right: 5px;
  color: #038387;
  font-style: italic;
  z-index: 10;
}
.composer-box__input__count--error {
  color: #ff3434;
}
.composer-box__ops {
  display: flex;
  align-items: center;
}
.composer-box__ops__close {
  color: #babdbe;
  margin-left: 2px;
  cursor: pointer;
  padding: 6px;
}
.composer-box__ops__close:hover {
  color: #a0a4a5;
}

.editor {
  pointer-events: all;
  transition: ease 0.2s;
  opacity: 0.5;
  max-height: 38px;
}
.editor__textarea, .editor__input, .editor__button {
  margin-bottom: 8px;
  position: relative;
}
.editor__textarea {
  position: relative;
}
.editor__count {
  position: absolute;
  right: 5px;
  bottom: 3px;
  color: #038387;
  opacity: 0.6;
}
.editor__count--error {
  color: #ff3434;
}
.editor__button button {
  padding: 10px 12px !important;
  box-shadow: 0 1px 0 #003863 !important;
}
.editor__textarea textarea {
  border: none !important;
  padding: 0px !important;
}
.editor__textarea textarea:focus {
  border: none !important;
}

.editable {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 3px;
  background: none;
  border: 2px solid transparent;
}
.editable:hover {
  background: rgba(0, 0, 0, 0.1);
}
.editable--editing {
  color: black !important;
  cursor: auto;
  background: #ffffff;
  border: 2px solid #ffffff;
}
.editable--editing:hover {
  background: #ffffff;
}

.link-button {
  cursor: pointer;
  padding: 8px 12px;
  overflow: hidden;
  border-radius: 3px;
  text-decoration: underline;
}
.link-button:hover {
  background: #dfe4e7;
  color: #3d9296;
}

.app {
  height: 100vh;
  background: #038387;
}
.app--drawer-pinned {
  margin-left: 280px;
}

.app-bar {
  display: flex;
  align-items: center;
  padding: 4px;
  height: 42px;
  background: rgba(0, 0, 0, 0.15);
}
.app-bar__boards-button {
  position: relative;
  background: #3d9296 !important;
  padding: 8px 10px !important;
  font-size: 16px !important;
  border-radius: 3px !important;
  z-index: 10;
}
.app-bar__boards-button:hover {
  background: #038387 !important;
}

.board {
  position: relative;
  border-radius: 10px;
  height: calc(100% - 42px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.board__header {
  pointer-events: all;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  position: relative;
}
.board__header__board-name {
  color: #ffffff;
  font-weight: bold;
  position: relative;
  z-index: 10;
}
.board__content {
  display: flex;
  align-items: flex-start;
  padding: 0 8px;
  width: 100%;
  flex: 1;
  overflow-x: scroll;
}
.board__content__add {
  min-width: 280px;
  max-width: 280px;
}
.board__content__add .add-list {
  pointer-events: all;
  position: relative;
}
.board__content__add .add-list__button {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  outline: none;
}
.board__content__add .add-list__button:hover {
  background: rgba(0, 0, 0, 0.2);
}
.board__content__add .add-list__editor {
  padding: 8px;
  padding-bottom: 0px;
}

.create-board-modal {
  margin-top: 80px;
  border-radius: 3px;
}
.create-board-modal__editor {
  margin: 8px 8px 0 8px;
}
.create-board-modal .editor__input {
  padding: 10px;
  border-radius: 3px;
  background: #3d9296;
  padding-bottom: 60px;
}
.create-board-modal .editor__input input {
  font-size: 1.2rem !important;
  color: white !important;
  border-radius: 3px !important;
  padding: 6px 8px !important;
  font-weight: bold !important;
  border: none !important;
  background: transparent !important;
  margin-right: 45px !important;
}
.create-board-modal .editor__input input:focus {
  background: rgba(255, 255, 255, 0.4) !important;
}
.create-board-modal .editor__input input::placeholder, .create-board-modal .editor__input input::placeholder:focus {
  color: rgba(255, 255, 255, 0.5);
}

#drawer {
  position: relative;
  z-index: 60;
}

.board-drawer {
  color: black;
  position: fixed;
  background: #ffffff;
  border-radius: 0 3px 3px 0;
  top: 44px;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 12px 24px -6px rgba(9, 45, 66, 0.25), 0 0 0 1px rgba(9, 45, 66, 0.08);
}
.board-drawer__header {
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
  background: #eceff1;
  padding: 8px 12px;
  height: 42px;
  align-items: center;
}
.board-drawer__header.board-drawer--pinned {
  display: flex;
}
.board-drawer__content {
  margin: 8px;
}
.board-drawer__content__search, .board-drawer__content__boards {
  margin-bottom: 10px;
}
.board-drawer--pinned {
  top: 0px;
  bottom: 0px;
}

.board-card {
  cursor: pointer;
  background: rgba(61, 146, 150, 0.2);
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  overflow: hidden;
  border-radius: 3px;
}
.board-card:hover {
  background: rgba(61, 146, 150, 0.3);
}
.board-card__thumbnail {
  height: 36px;
  width: 36px;
  background: rgba(61, 146, 150, 0.7);
}
.board-card__name {
  padding: 8px;
}

.list {
  pointer-events: all;
  min-width: 280px;
  max-width: 280px;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  background: #eceff1;
  z-index: 10;
}
.list:hover .list__header__close {
  opacity: 1;
}
.list__dragging-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  display: none;
  background: #f2f4f5;
  border-radius: 3px;
  border: 2px solid #038387;
  z-index: 1000;
}
.list__dragging-over--active {
  display: block;
}
.list__header {
  display: flex;
  align-items: center;
  padding: 10px 36px 8px 8px;
}
.list__header input {
  font-size: 1rem;
  font-weight: bold;
}
.list__header__close {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  right: 12px;
  padding: 5px;
  color: #babdbe;
  transition: ease 0.2s;
}
.list__header__close:hover {
  color: #858b8d;
}
.list__content {
  padding: 0 4px;
  margin: 0 4px;
}
.list__content__button {
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  color: #a0a4a5;
  padding: 10px;
  width: 100%;
  background: #eceff1;
}
.list__content__button:hover {
  color: #038387;
  background: #f2f4f5;
}
.list__content__button:hover span {
  text-decoration: underline;
}
.list__content__composer {
  margin-bottom: 8px;
  padding: 0px;
}
.list__content__composer__input {
  padding: 0px;
  margin-bottom: 8px;
}

.card {
  cursor: pointer;
  position: relative;
  transition: ease 0.1s;
  align-items: center;
}
.card--dragging {
  padding: 14px;
  box-shadow: none;
  cursor: auto;
}
.card__content {
  color: #000000;
  padding-right: 36px;
  flex: 1;
  overflow: hidden;
}
.card__content p {
  max-width: 100%;
  word-wrap: break-word;
}
.card__close {
  position: absolute;
  top: 5px;
  right: 0;
  opacity: 0;
  padding: 5px;
  color: #babdbe;
  transition: ease 0.2s;
}
.card__close:hover {
  color: #858b8d;
}
.card:hover {
  background: #fbfbfc;
}
.card:hover .card__close {
  opacity: 1;
}

.card-editor {
  width: 280px;
  position: absolute;
  padding: 8px;
}

/*# sourceMappingURL=index.css.map */
